<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include("./partials/head") %>
	<body>
		
		<!-- /Header -->
		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado") %>
		<% }else {%>
			<%- include("./partials/header") %>
		<%} %>

		<!-- Banner -->
		<div class="banner">
			<img src="../images/header-artifact-posta.png" alt="Banner de ofertas">
		</div>
		<!-- /Banner -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title"> Ultimos productos</h2>
				</div>
				<!-- Show the "ultimos" products -->

				<% for(let i=0; i < 4; i++) { %>   
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%=datos[i].id%>">
							<figure class="product-box_image">
								<img src="<%= datos[i].foto %>" alt="">

							</figure>
							<article class="product-box_data">
								<h2><%=datos[i].nombreProducto  %></h2>
								<p><%=datos[i].descripcion%> </p>
								<a href="users/profile/<%=datos[i].user.id%>"><p>Creaod por: <%=datos[i].user.usuario%> </p></a>

							</article>
						</a>
					</section>
				</div>
				<% } %>
			</div>	
		</div>
		<!-- /Novedades -->
				
		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>	
</html>