<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include("./partials/head") %>

	<body>
		<!-- Header -->
		<%- include("./partials/header") %>

		<!-- /Header -->
		

		<!-- product detail -->
		
		<div class="container products-wrapper">
			<div class="column">
				<h2 class="products-title"><%=datos.productos[0].nombre_producto  %></h2> 
				    
				<h2><a href="/productos/productadd">  Editar</a></h2>
				
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%=datos.productos[0].imagen  %>" alt="" class="product-detail-img">
						<p class="product-detail-description"><%=datos.productos[0].descripcion%> </p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% for(let i=0; i < 3; i++) { %>   
								
							<article>
								<img src="<%=datos.productos[0].comentarios[i].foto_perfil%>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%=datos.productos[0].comentarios[i].nombre_usuario  %></a> </strong>
									<%=datos.productos[0].comentarios[i].texto  %></p>
								</div>
							</article>
							<% } %>
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->

	</body>	
</html>