<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->
	<%- include("./partials/head") %>

	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% }else {%>
		<%- include("./partials/header") %>
	<%} %>

	<body>
		<!-- Header -->

		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar mi perfil</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> 
					<form action="/users/profileEdit/<%=datos.id%>" method="POST" class="search-form" >
						<input type="text" name="nombre" placeholder="<%=datos.nombre  %>" class="formulario">
					<input type="text" name="apellido" placeholder="<%=datos.apellido%>" class="formulario">
					<input id="email" type="email" name="email" placeholder="<%=datos.email  %>" class="formulario" value="<%=locals.old != undefined && old.email ? old.email:""%>">
					<% if (locals.errors && errors.email) { %>
						<p><%= errors.email.msg %></p>
					   <% } %>
					<input id="usuario" type="text" name="usuario" placeholder="<%=datos.usuario  %>" class="formulario"  value="<%=locals.old != undefined && old.usuario ? old.usuario:""%>">
					<% if (locals.errors && errors.usuario) { %>
						<p><%= errors.usuario.msg %></p>
					   <% } %>
					<input id="contrasenia" type="password" name="contrasenia" placeholder="<%=datos.contrasenia  %>seña" class="formulario" value="<%=locals.old != undefined && old.contrasenia ? old.contrasenia:""%>">
					<% if (locals.errors && errors.contrasenia) { %>
						<p><%= errors.contrasenia.msg %></p>
					   <% } %>
						<input type="date" name="fechadenacimiento" placeholder="<%=datos.fechaNacimiento  %>" class="formulario">
						
						<input type="number" name="nrodedocumento" placeholder="<%=datos.numeroDocumento%>" class="formulario">
						
						<input type="text" name="foto" placeholder="<%=datos.foto%>" class="formulario">

						<button type="submit" class="enviar">Editar</button>
					</form>
				</h2>
			</div>
		</div>


		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>