<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->
	<%- include("./partials/head") %>
	
	<body>
		<!-- Header -->
		<%- include("./partials/headerLogueado.ejs") %>

		<!-- /Header -->

		<!-- Datos del usuario -->
		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<img src="<%=datos.usuario.fotoPerfil %>" alt="foto de perfil" class="foto-perfil">
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"> <%= datos.usuario.usuario %>
							<a href="/users/profileEdit">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul class=""> 
							<li> <%=datos.usuario.email %> </li>
							<li> Fecha de nacimiento: <%=datos.usuario.fechaNacimiento %> </li>
							<li> <%=datos.productos.length %> productos</li>	
							<li>200 seguidores</li>
							<li>300 comentarios</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- /Datos del usuario -->

		<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<% for(let i=0; i < 4; i++) { %>   
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos">
								<figure class="product-box_image">
									<img src="<%=datos.productos[i].imagen  %>" alt="">
								</figure>
								<article class="product-box_data">
									<h2><%=datos.productos[i].nombre_producto  %></h2>
									<p><%=datos.productos[i].descripcion%> </p>
									<p>Comentarios: <%= datos.productos[i].comentarios.length %></p>
								</article>
							</a>
						</section>
					</div>
					<% } %>
				
				
			</div>
		</div>

		
		</div>
		
		<!-- /Mis productos -->


		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>	
</html>