<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->

	<%- include("./partials/head") %>


	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado") %>
		<% }else {%>
			<%- include("./partials/header") %>
		<%} %>

		<!-- /Header -->

		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="login">Registrate</h2>
				</div>
				<h2>
					<form action="/users/register" method="POST" class="search-form">
						<input type="text" name="nombre" placeholder="Nombre" class="formulario">
						<input type="text" name="apellido" placeholder="Apellido" class="formulario">
						<input id="email" type="email" name="email" placeholder="Email" class="formulario" value="<%=locals.old != undefined && old.email ? old.email:""%>">
						<% if (locals.errors && errors.email) { %>
							<p><%= errors.email.msg %></p>
						<% } %>
						<input id="usuario" type="text" name="usuario" placeholder="Usuario" class="formulario"  value="<%=locals.old != undefined && old.usuario ? old.usuario:""%>">
						<% if (locals.errors && errors.usuario) { %>
							<p><%= errors.usuario.msg %></p>
						<% } %>
						<input id="contrasenia" type="password" name="contrasenia" placeholder="Contraseña" class="formulario" value="<%=locals.old != undefined && old.contrasenia ? old.contrasenia:""%>">
						<% if (locals.errors && errors.contrasenia) { %>
							<p><%= errors.contrasenia.msg %></p>
						<% } %>
						<input id="fechaNacimiento" type="date" name="fechadenacimiento" placeholder="Fecha de nacimiento" class="formulario">
						<input id="numeroDocumento" type="number" name="nrodedocumento" placeholder="DNI" class="formulario">
						<input id="foto" type="text" name="foto" placeholder="Foto de perfil" class="formulario">
						<button type="submit" class="enviar">Enviar</button>
					</form>
				</h2>
			</div>
		</div>
			



		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>