<!DOCTYPE html>
<html lang="es">
<!-- include Head -->
	<%- include("./partials/head") %>


	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado") %>
		<% }else {%>
			<%- include("./partials/header") %>
		<%} %>

		<!-- /Header -->

		<!-- resultados -->
		<div class="container products-wrapper">
			<div class="row">
				
				<% if (datos.length == 0) { %>
					<h2 class="products-title"> No hay resultados para su criterio de busqueda: <%=buscador %> </h2>
				<% } else { %>
					<div class="col-12">
						<h2 class="products-title">Resultados de búsqueda para: <%=buscador %> </h2>
					</div>
					<% for(let i=0; i < datos.length; i++) { %> 
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/id/<%=datos[i].id%>">
									<figure class="product-box_image">
										<img src="<%=datos[i].foto  %>" alt="">
									</figure>
									<article class="product-box_data">
										<br>
										<h2><%=datos[i].nombreProducto  %></h2>
										<p><%=datos[i].descripcion%> </p>
										<a href="/users/profile/<%=datos[i].user.id%>"><p>Creado por: <%=datos[i].user.usuario%> </p></a>

									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% } %>
			</div>
			
			
		</div>
	
		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>