<!DOCTYPE html>
<html lang="es">
<!-- include Head -->
	<%- include("./partials/head") %>


	<body>
		<!-- Header -->
		<%- include("./partials/header") %>

		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Resultados de búsqueda para: <%=datos.productos[0].nombre_producto %> </h2>
				</div>
	
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos">
							<figure class="product-box_image">
								<img src="<%=datos.productos[0].imagen  %>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%=datos.productos[0].nombre_producto  %></h2>
								<p><%=datos.productos[0].descripcion%> </p>
								<p>Comentarios: <%= datos.productos[0].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			</div>
			
			
		</div>
	
		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>